.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  transition: all 0.4s;
}

/* for toggle behavior */

.main_nav .active {
  margin-left: -17rem;
}

/* .page-content {
  width: 100%;
  margin: 0;
} */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

/*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */

body {
  background: #599fd9;
  background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
  background: linear-gradient(to right, #599fd9, #c2e59c);
  min-height: 100vh;
  overflow-x: hidden;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.card-img {
  max-width: 150px;
  max-height: 120px;
  min-height: 120px;
}

.page-content a {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.2em;
  height: 3.6em;
}

.card {
  max-height: 264px;
}

.mask {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.box {
  position: fixed;
  background-color: #fff;
  z-index: 200;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 26%;
  border-radius: 15px;
  padding: 20px;
}

.box .close_btn {
  position: fixed;
  left: 73%;
  width: 2%;
  top: 27%;
  cursor: pointer;
}

.box .img_box {
  float: left;
  border: solid 1.5px;
  border-radius: 10px;
  background: lightgray;
  margin-right: 20px;
}

.box .scrap {
  margin: 10px auto;
  display: block;
  margin-bottom: 10px;
  width: 37%;
}

.box .content {
  word-break: break-all;
}
